.manager-container {
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
  background: #fff5e9;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-btn {
  padding: 8px 12px;
  font-size: 14px;
  background: #f0b12d;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th {
  background-color: #fca311;
  color: white;
  text-align: left;
  padding: 10px;
  font-weight: 600;
}

td {
  padding: 10px;
   text-align: left;
  border-bottom: 1px solid #ddd;
}

.link {
  color: #1f5daa;
  cursor: pointer;
}


.show-all-container {
  text-align: center;
  margin-top: 20px; /* Increased from 15px to 30px for more space */
}

.show-all-btn {
  background-color: transparent;
  border: none;
  color: #fca311;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

